* text=auto
*.ts text eol=lf
*.cjs text eol=lf
*.cs text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.svg text eol=lf
*.png binary
*.ico binary
*.gif binary
*.exe binary
